/*Themes*/
@media screen and (prefers-color-scheme: dark)
{
    body
    {
        background-color : #333333 !important;
        color : #ffffff !important;
    }
    header
    {
        /*background-color : #2478e6 !important;*/
    }
    main
    {
        border-color : rgba(0,0,0,.2) !important;
    }
    .icon
    {
        color : #2478e6;
    }
    nav,
    ::-webkit-scrollbar-track
    {
        background-color : #333333 !important;        
    }
    aside ul li a
    {
        border-color : #2478e6 !important;
    }
    ::-webkit-scrollbar-thumb
    {
        -webkit-border-radius : 0px;
        border-radius : 0px;
        background-color : #2478e6;
    }
    nav .nav-button,
    nav.active .nav-button,
    nav.active .nav-button:hover,
    nav.active .nav-button:active
    {
        background-color : #333333 !important;
    }
    a
    {
        color : #ffffff !important;
    }
    .breadcrumbs a:hover
    {
        background-color : #2478e6;
    }
    input[type=text],
    input[type=email],
    input[type=password],
    input[type=search],
    textarea,
    .input-search,
    .input-text
    {
        border-color : #222;
        background-color : #444444;
        color : #ffffff !important;
    }
    input[type=submit],
    button
    {
        border-color : #222;
        background-color : #444444;
        color : #fff;
    }
    input[type=submit] .icon,
    button .icon
    {
        color : #fff;
    }
    footer
    {
        border-color : rgba(255,255,255,.1) !important;
    }
    .title-active
    {
        color : #fff !important;
        background-color : #2478e6 !important;
    }
    nav ul li a,
    nav ul li span
    {
        color : #fff;
    }
}