*
{
    margin : 0;
    padding : 0;
}
html
{
    height : 100%;
}
html, body
{
    min-height : 100%;
}
body
{
    display : flex;
    flex-direction : column;
    align-items : center;
    position : relative;
    margin : 0;
    padding : 0 15px;
    background-color : #ffffff;
    color : #000000;
    font-family : Verdana;
    font-size : 16px;
    font-weight : 300;
}
body.nav-active::before
{
    content : '';
    display : block;
    position : fixed;
    top : 0;
    left : 0;
    width : 100%;
    height : 100%;
    background-color : rgba(0,0,0,.6);
}
/*Structure*/
.row
{
    display : flex;
    flex-flow : row;
}
.col
{
    display : flex;
    flex-flow : column;
}
body > *
{
    width : calc(100% - 30px);
    max-width : 1200px;
    padding : 15px;
    margin : 0 auto;
}
header, footer
{
    flex : 0 0 auto;
}
header
{
    background-color : #3c6fb1;
    color : #fff;
}
main
{
    display : flex;
    flex : 1 0 auto;
}
nav, aside
{
    width : 200px;
}
article
{
    flex : 1;
    margin : 0 15px;
}
nav
{
    order : -1;
}
.title-active
{
    color : #fff !important;
    background-color : #3c6fb1;
    transition : 1s;
    transition-delay : .5s;
}
/*
header
{
    background-color : rgba(26, 186, 197, 0.2);    
}
main
{
    background-color : rgba(0,0,0,.1);
}
nav
{
    background-color : rgba(255,0,0,.2);
}
aside
{
    background-color : rgba(0,255,0,.2);
}
footer
{
    background-color : rgba(197, 194, 26, 0.2);
}
*/
/*Navigation*/
nav,
aside
{
    display : flex;
    flex-flow : column;
}
nav ul,
aside ul
{
    list-style : none;
    display : flex;
    flex-flow : column;
    overflow-y: auto;
}
aside ul
{
    margin-left : 15px;
}
nav ul li > ul,
aside ul li > ul
{
    margin-left : 0;
    margin-top : 7.5px;
    font-size: .85em;
}
aside ul li
{
    margin : 0 0 7.5px;
}
aside ul li:last-child
{
    margin-bottom : 0;
}
aside ul li a
{
    border-left : 3px solid #3c6fb1;
}
nav a,
aside a
{
    display : block;
    color : #000;
    text-decoration : none;
    padding : 7.5px;   
}
aside a.active
{
    font-weight : bold;
}
nav a
{
    border-radius: 5px;
}
nav a:hover,
aside a:hover
{
    background-color : rgba(0,0,0,.1);
}
/*Title*/
h1, h2, h3, h4, h5, h6
{
    font-weight : 300;
    font-size : 1.2em;
    line-height : 2;
    margin : 7.5px 0;
}
p
{
    line-height: 2;
    margin : 7.5px 0;
}
/*Article*/
article h3,
article h4,
article h5,
article h6
{
    padding : 7.5px;
    margin : 7.5px -7.5px;
}
article p
{
    text-align : justify;
}
/*Footer*/
footer
{
    text-align : center;
    border-top : 1px solid rgba(0,0,0,.3);
    color : #666;
}

/*Size device*/
@media screen and (max-width: 1200px)
{
    main
    {
        flex-flow : wrap;
    }
    article
    {
        margin-right : initial;
        margin-bottom : 15px;
    }
    aside
    {
        width : 100%;
        margin-left : 215px;
    }
}
@media screen and (max-width: 768px)
{
    body
    {
        margin-right : 35px;
    }
    nav
    {
        width : calc(100% - 30px);
        max-width : 335px;
        height : 100%;
        padding : 0 15px;
        position : fixed;
        right : -365px;
        top : 0;
        transition: .5s;
        background-color : #ffffff;
        z-index : 9;
    }
    nav.active
    {
        right : 0;
    }
    nav .nav-button::after
    {
        font-family : FontAwesome;
        content : '\f0c9';
        font-size : 2rem;
    }
    nav.active .nav-button::after
    {
        content : '\f00d';
    }
    nav .nav-button
    {
        display : flex;
        justify-content : center;
        align-items : center;
        width : 50px;
        height : 50px;
        background-color : #ccc;
        cursor : pointer;
        position : absolute;
        top : 0px;
        left : -50px;
    }
    nav .nav-button:hover,
    nav.active .nav-button:hover
    {
        background-color : #bbb;  
    }
    nav.active .nav-button
    {
        background-color : #fff;
    }
    /*nav:hover::after
    {
        background-color : red;
    }*/

    /*Article*/
    article
    {
        margin : 0 auto 15px;
    }
    article .breadcrumbs
    {
        padding : 7.5px 0;
        margin : 0;
        border-bottom : 1px solid rgba(0,0,0,.1);
        order : -1;
    }
    /*Aside*/
    aside
    {
        margin-left : initial;
    }
}
/*Mobile*/
@media screen and (max-width: 411px)
{
    nav
    {
        max-width : 330px;
        right : -360px;
    }    
}
@media screen and (max-width: 375px)
{
    nav
    {
        max-width : 295px;
        right : -325px;
    }    
}
@media screen and (max-width: 360px)
{
    nav
    {
        max-width : 280px;
        right : -310px;
    }    
}
@media screen and (max-width: 320px)
{
    nav
    {
        max-width : 240px;
        right : -270px;
    }    
}