.icon
{
    font-family : FontAwesome;
}
section
{
    margin : 15px auto;
    width : 100%;
}

input[type=text],
input[type=email],
input[type=password],
input[type=search],
textarea
{
    display : inline-flex;
    width : calc(100% - 17px);
    height : auto;
    padding : 7.5px;
    margin : 7.5px auto;
    border : 1px solid #000000;
    background-color : #ffffff;
    color : #000000;
    font-family: Verdana;
    font-weight : 300;
    font-size : 1em;
    line-height : 1;
    text-align : left;
}
textarea
{
    line-height : 2;
}
input[type=submit],
button
{
    display : inline-flex;
    align-items : center;
    justify-content: center;
    width : auto;
    min-width : 100px;
    height : auto;
    padding : 7.5px;
    margin : 7.5px auto;
    border : 1px solid #000000;
    background-color : #ffffff;
    color : #000000;
    font-family: Verdana;
    font-weight : 300;
    font-size : 1em;
    text-align : center;
    cursor : pointer;
}
button span
{
    display : inline-flex;
    align-items : center;
    justify-content : center;
}
button .icon
{
    margin-right : 7.5px;
}
/*Breadcrumb*/
.breadcrumbs
{
    list-style : none;
    display : flex;
    flex-flow : wrap;
    justify-content : flex-start;
    align-items : center;
}
.breadcrumbs li::after
{
    font-family : FontAwesome;
    content : '\f105';
    margin : 0 7.5px;
}
.breadcrumbs li:last-child::after
{
    display : none;
    font-family : initial;
    content : initial;
    margin : initial;
}
.breadcrumbs a
{
    display : inline-flex;
    align-items : center;
    color : #000000;
    text-decoration : none;
    padding : 7.5px;
    border-radius : 4px;
}
.breadcrumbs a:hover
{
    background-color : rgba(0,0,0,.1);
}
/*Size device*/
@media screen and (max-width: 1200px)
{

}
@media screen and (max-width: 768px)
{
    input[type=text],
    input[type=email],
    input[type=password],
    input[type=search],
    textarea
    {
        width : calc(100% - 32px);
        padding : 15px;
    }
    input[type=submit],
    button
    {
        padding : 15px;
    }
}


/*Scroll*/
::-webkit-scrollbar-button
{
    width : 0;
    height : 0
}
::-webkit-scrollbar-track
{
    background-color : #eeeeee;
}
::-webkit-scrollbar-thumb
{
    -webkit-border-radius : 0px;
    border-radius : 0px;
    background-color : #999999;
}
::-webkit-scrollbar-thumb:hover
{
    background-color : #777777;
}
::-webkit-resizer
{
    width : 4px;
    height : 5px;
}
::-webkit-scrollbar
{
    width : 4px;
}